.Collection{
    height: 100vh;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid red;
        height: 100vh;
        width: 100%;
        .left{
            width: 50%;
            img{
                //width: 100%;
                object-fit: cover;
            }
        }
        .right{
            width: 50%;
            img{
                width: 400px;
            }
        }
    }
}
