.Home{
    //border: black 5px solid;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //margin-bottom: 5em;
    img{
        width: 800px;
        //padding-top: 15em;
    }
    .contacts-snippet{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: end;
        margin-top: 5em;
        padding: 5em;
        //border: 1px red solid;
        .li{
            padding: 1em;
            color: silver;
            font-size: 20px;
        }
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 30px;
        padding: 5em;
        p{
            font-size: 20px;
        }
        .btn{
            background: black;
            color: whitesmoke;
            border: none;
            padding: 1.5em 3em;
            margin-top: 1em;
            text-align: center;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Home{
        //background: red;
        height: auto;
        flex-wrap: wrap;
        img{
            width: 100%;
        }
        .contacts-snippet{
            margin: 0;
            padding: 0;
        }
        .left{
            margin: 0;
        }
    }
  }