.Card{
    //border: 2px solid #333;
    //border-radius: 20px;
    width: 400px;
    text-align: start;
    img{
        width: 100%;
    }
    button{
        padding: 1em 2em;
        background: black;
        color: whitesmoke;
    }
}