.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    //border-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    .navlinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        .link{
            text-decoration: none;
            color: black;
        }
        .link:hover{
            font-weight: bolder;
        }
    }
}