.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //border: 5px solid black;
    //border-radius: 20px;
    //margin-left: 1em;
    margin-right: 1em;
    //margin-top: 1em;
    padding: 2em;
    position: fixed;
    width: 100%;
    background: black;
    color: whitesmoke;
    h1{
        text-transform: uppercase;
    }
    .navlinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        .link{
            text-decoration: none;
            color: whitesmoke;
        }
        .link:hover{
            font-weight: bolder;
        }
    }
}