.Banner{
    padding-top: 10em;
    padding-bottom: 10em;
    margin-top: 1em;
    .container{
        display: flex;
        justify-items: space-around;
        align-items: center;
        img{
            width: 70%;
            height: 100%;
            padding: 2em 0 2em 0;
        }
        .text{
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bolder;
            color: gray;
            margin-left: -6em;
        }
    }
}


@media only screen and (max-width: 600px) {
    .Banner{
        .container{
            flex-wrap: wrap;
            img{
                width: 100%;
            }
            .text{
                font-size: 30px;
                padding: 1em;
                margin: 0;
            }
        }
    }
  }