.Banner{
    .container{
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        justify-items: space-around;
        align-items: center;
        img{
            width: 70%;
            padding: 2em 0 2em 0;
        }
        .text{
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bolder;
            color: gray;
            margin-left: -6em;
        }

    }

    //padding: 3em;
}